*,*:before,*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
#top_header {
	text-align: right;
	padding-right: 60px;
}
h4 {
	text-align: left;
	padding: 5px;
}
h5 {
	text-align: right;
	padding-right: 10px;
}
body {
	font-family: helvetica, sans-serif;
	text-align: center;
	color: #000;
	background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 50px;
}
p {
	text-align: left;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 16px;
    padding-bottom: 0px;
}
ul {
	text-align: left;
    padding-right: 150px;
    padding-left: 170px;
}
aside {
	float: right;
	margin-top: -180px;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  letter-spacing: -4px;
  font-size: 50px;
  font-family: "Helvetica", serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 20px 0;
}
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -8px;
  line-height: 100px;
  font-weight: 600;
  text-align: center;
  padding-top: 200px;
  text-shadow: 0 0 10 px rgba(0, 0, 0, 0.8);
}
section.module.parallax-top {
  background-image: url("cover.jpg");
}
section.module.parallax-1 {
  background-image: url("work.jpg");
}
section.module.parallax-2 {
  background-image: url("play.jpg");
}
section.module.parallax-3 {
  background-image: url("chicago.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 60px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 100px;
  }
}
